[submodule "Require/submodules/OOOCode"]
	path = Require/submodules/OOOCode
	url = https://github.com/pghalliday/OOOCode.git
[submodule "Require/submodules/Module"]
	path = Require/submodules/Module
	url = https://github.com/pghalliday/OOOCode-Module.git
[submodule "Require/submodules/HelloWorld"]
	path = Require/submodules/HelloWorld
	url = https://github.com/pghalliday/OOOCode-HelloWorld.git
[submodule "Require/submodules/Log"]
	path = Require/submodules/Log
	url = https://github.com/pghalliday/OOOCode-Log.git
[submodule "Require/submodules/UnitTest"]
	path = Require/submodules/UnitTest
	url = https://github.com/pghalliday/OOOCode-UnitTest.git
[submodule "Require/submodules/Error"]
	path = Require/submodules/Error
	url = https://github.com/pghalliday/OOOCode-Error.git
